{% extends 'base.html.twig' %}

{% block title %}Contactez-nous{% endblock %}

{% block body %}
<style>
   .image-back{
       margin: 0px;
       position: absolute;
   }
   h2 {
       color: #0e2e3d;
       margin-bottom: 30px;
       text-align: center;
   }
   .box{
       position: relative;
       margin: 530px 20px 20px 250px;
       padding: 60px;
       background-color: #e0dbca;
       width: 1400px;
       height: auto;
       border: solid 2px #707070;
   }
   form{
       width: 600px;
   }
   submitType {
       background-color: #6c757d;
   }
</style>

<div class="example-wrapper">
    <div class="image-back">
	<img class= "back" src="images/main2.jpg" alt=""/>
	</div>
</div>
<div class="box">
    <h2>Créer un compte</h2>
    {{ form(form) }}
</div>
{% endblock %}
